body {
    margin: 0;
    padding: 0;
}

#stage {
    border: 1px solid;
    margin: 10px;
}

div#controls {
    width: 220px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

div#controls input {
    margin: auto;
    width: 100px;
    height: 100px;
}
