body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

#stage {
    border: 1px solid;
    margin: 0 34px;
}

#inputUseWebGL, #inputForceTouch {
    float: left;
}

#stats {
    padding: 5px;
    padding-top: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#player_control {
    margin-top: 20px;
    width: 120px;
    padding: 10px;
}

#player_control > .btn {
    width: 60px;
}

#control_up, #control_down {
    margin: 5px 30px 5px 30px;
}
