body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

#stage {
    border: 1px solid;
    margin: 0 34px;
}

#stats {
    padding: 5px;
    padding-top: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#player_control {
    margin-top: 20px;
    width: 120px;
    padding: 10px;
}

#player_control > .btn {
    width: 60px !important;
}

#up {
    margin: 0 30px 0 30px;
}

#down {
    margin: 0 30px 0 30px;
}

#attack {
    margin: 10px 30px 0 30px;
}